html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-family: "Labil Grotesk", sans-serif;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: rgb(11, 192, 205);
  transition: background 0.3s;
  cursor: pointer;
}

button:hover {
  background: rgb(0, 238, 255);
}
